:root {
    --title-color: #322353;
    --primary-color: #34cb79;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f0f0f5;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
 #page-home main a:hover {
    background: #2fb86e;
 }

 #page-home main a span{
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.08);
    margin-right: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #page-home main a span::after{
    content: "";
    background-image: url('../assets/search.svg');
    width: 20px;
    height: 20px;
 }

